/* App.css */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: var(--background);
  color: var(--text);
  transition: background 0.3s ease, color 0.3s ease;
}

:root {
  --background: #f9f9f9;
  --text: #111;
}

[data-theme='dark'] {
  --background: #0b0b0b;
  --text: #f9f9f9;
}

a {
  color: inherit;
  text-decoration: none;
}
